<form (ngSubmit)="crAnuncio()" id="aForm">
    <input type="text"
    [(ngModel)]="anuncio.texto"
    [ngModelOptions]="{standalone:true}"
    placeholder="Texto"
    required
    >
    <br>
    <input type="text"
    [(ngModel)]="anuncio.imagen"
    [ngModelOptions]="{standalone:true}"
    placeholder="Imagen"
    required
    >
    <br>
    <input type="datetime-local"
    [(ngModel)]="anuncio.fecha_inicio"
    [ngModelOptions]="{standalone:true}"
    placeholder="fecha_Inicio"
    required
    >
    <br>
    <input type="datetime-local"
    [(ngModel)]="anuncio.fecha_fin"
    [ngModelOptions]="{standalone:true}"
    placeholder="fecha_Fin"
    required
    >
    <br>
    <input type="submit">
</form>